<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Candidate List</title>
    <link th:href="@{/styles/header.css}" rel="stylesheet">
    <link th:href="@{/styles/common.css}" rel="stylesheet">
    <link th:href="@{/styles/candidate-list.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Candidate List</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="candidate : ${candidates}">
                    <td th:text="${candidate.id}"></td>
                    <td th:text="${candidate.fullName}"></td>
                    <td th:text="${candidate.email}"></td>
                    <td th:text="${candidate.phone}"></td>
                    <td th:text="${candidate.dob}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>