<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Home</title>
    <link th:href="@{/styles/common.css}" rel="stylesheet">
    <link th:href="@{/styles/company.css}" rel="stylesheet">
</head>

<body>
    <div class="company-index">
        <div th:replace="fragments/header :: header"></div>
       
        <div class="content">
            <div class="slider">
                <div class="slides">
                    <div class="slide"><img src="assets/company-sliders/company-sliders1.webp" alt="Image 1"></div>
                    <div class="slide"><img src="assets/company-sliders/company-sliders2.webp" alt="Image 2"></div>
                    <div class="slide"><img src="assets/company-sliders/company-slider3.webp" alt="Image 3"></div>
                </div>
                <button class="prev" onclick="prevSlide()">&#10094;</button>
                <button class="next" onclick="nextSlide()">&#10095;</button>
            </div>
            <div style="margin: 50px 50px">
                <div class="pagination-controls">
                    <a class="prev-button" th:if="${currentPage > 0}" th:href="@{|/?page=${currentPage - 1}|}">&laquo;
                        Previous</a>
                    <a class="next-button" th:if="${currentPage < totalPages - 1}"
                        th:href="@{|/?page=${currentPage + 1}|}">Next
                        &raquo;</a>
                </div>
                <ul class="company-home-list">
                    <li th:each="job : ${jobs}">
                        <div class="card">
                            <div class="card-content">
                <a class="job-title" th:href="@{/job/{id}(id=${job.id})}" th:text="${job.jobName}"></a>
                                <p class="subtitle" th:text="${job.company.compName}"></p>
                                <div class="info-row">
                                    <p><strong>Mức lương:</strong></p>
                                    <p class="salary" th:text="${job.salary}"></p>
                                </div>
                                <div class="info-row">
                                    <p><strong>Địa chỉ:</strong></p>
                                    <p class="location" th:text="${job.company.address.city}"></p>
                                </div>
                            </div>
                            <div class="card-actions">
                                <span class="favorite">&hearts;</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="page-number">
                    <span th:text="'Page ' + ${currentPage + 1} + ' of ' + ${totalPages}"></span>
                </div>
            </div>


        </div>
        <footer class="footer">
        </footer>
    </div>

    <script>
        let currentIndex = 0;
        const slides = document.querySelectorAll('.slide');
        const totalSlides = slides.length;

        function showSlide(index) {
            const slidesContainer = document.querySelector('.slides');
            slidesContainer.style.transform = `translateX(-${index * 100}%)`;
        }

        function nextSlide() {
            currentIndex = (currentIndex + 1) % totalSlides;
            showSlide(currentIndex);
        }

        function prevSlide() {
            currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
            showSlide(currentIndex);
        }

        setInterval(nextSlide, 3000);
    </script>
</body>

</html>