.company-header {
    background-color: #f8f9fa;
    padding: 10px 20px;
}

.company-header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-header-left,
.company-header-right {
    display: flex;
    align-items: center;
}

.company-logo {
    height: 40px;
}

.company-header-navbar-item {
    margin-left: 20px;
}


.navbar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

