body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    /* Light background color for the body */
    margin: 0;
    padding: 0;
}

.company-header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}

.company-header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-header-left {
    display: flex;
    align-items: center;
    flex: 1;
}

.company-header-navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.company-header-navbar-item {
    margin-right: 10px;
}

.company-header-navbar-item a {
    text-decoration: none;
    color: #333;
}

.company-header-navbar-item button {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.company-logo {
    height: 50px;
    width: auto;
    object-fit: cover;
}

.search-container {
    flex: 1;
}

.search-form {
    display: flex;
}

.search-input {
    padding: 0 10px;
    border: 0.5px solid rgb(59, 167, 105);
}

.search-button {
    background-color: rgb(59, 167, 105);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.search-button:hover {
    color: rgb(59, 167, 105);
    background-color: white;
    border: 0.5px solid rgb(59, 167, 105);
}

.company-header-right {
    display: flex;
    align-items: center;
}

.navbar-button {
    background-color: white;
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.job-detail {
    background-color: white;
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    position: relative;
    /* Ensure the apply button is positioned relative to this container */
}

.job-detail h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.job-detail p {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #555;
}

.job-detail strong {
    color: #333;
}

/* Modal backdrop */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal content */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

/* Increase space between h3 and button */
.modal-content h3 {
    margin-bottom: 20px;
    /* Adjust the value as needed */
}

/* Close button and Apply button */
.modal-content button,
.apply-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgb(59, 167, 105);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover,
.apply-button:hover {
    background-color: rgb(15, 216, 102);
}

.modal-content-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 10px 10px 30px;
    color: #333;
}